:root {
    --green: #58cc02;
    --orange: #f49000;
}

@font-face {
    font-family: Vercetti;
    src: url('./Vercetti-Regular.woff');
}

@font-face {
    font-family: Vercetti;
    src: url('./Vercetti-Regular.woff2');
}

body {
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    height: 3em;
    box-shadow: 3px 3px 5px #0000005f;
    font-family: sans-serif;
}

.search-input {
    min-width: 20em;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5em 1em;
    border: none;
}

.search-button {
    background-color: var(--orange);
    border: none;
    padding: 0.5em 1em;
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    font-family: inherit;
}